body {
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Arial";
}

.main-container {
    text-align: center!important;
}

.title {
    color: rgb(33, 37, 41);
    display: block;
    font-size: 2.5rem;
    font-weight: 700!important;
    margin-bottom: 1rem!important;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
}

.subtitle {
    color: rgb(33, 37, 41);
    display: block;
    font-size: 2rem;
    font-weight: 400;
    margin-block-start: 0.83em;
    margin-block-end: 0.63em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
}

.buttons-container {
    display: inline-block;
}

.buttons-container>* {
    max-width: 450px;
}

.btn {
    cursor: pointer;
    margin-top: 0.5rem;
    max-width: 450px;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
}

a {
    color: #007bff;
    cursor: pointer;
    line-height: 2.0;
    margin-top: 0.5rem;
    text-decoration: none;
    background-color: transparent;
}
