html {
    height: 100%;
}

body {
    font-family: Verdana;
    margin: 0;
    width: 100%;
    height: 100%;
}

input[type="text"] {
    outline: none;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 255, 255, 0.57);
}

input[type="text"]:focus {
    background-color: #fff;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#headline {
    width: 100%;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #548aba;
    color: #fff;
    font-size: 1.2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-container {
    background-color: #333;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    margin: 0px auto;
}

#message-list {
    height: calc(100% - 85px);
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
}

#input-field {
    height: 30px;
    width: calc(100% - 10px);
    float: left;
    font-size: 1.0em;
    padding-right: 40px;
    padding-left: 5px;
    margin: 5px;
}

#name-field {
    width: 200px;
    height: 28px;
    font-size: 0.9em;
    padding-left: 5px;
    padding-right: 5px;
}

#bt-send {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: -38px;
    margin-top: 9px;
    color: #fff;
    cursor: pointer;
    background-image: url(../images/send.png);
    background-size: 30px 20px;
    background-repeat: no-repeat;
}

#bt-update {
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 0;
    margin-top: -1px;
    margin-right: 10px;
    cursor: pointer;
    background-image: url(../images/update.png);
    background-size: 28px 28px;
    background-repeat: no-repeat;
    transition: width 0.2s;
}

#bt-update.closed {
    width: 0;
}

#bt-auto-update {
    width: 28px;
    height: 10px;
    float: left;
    cursor: pointer;
    margin-left: 0;
    margin-top: 8px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.41);
    border-radius: 5px;
}

#bt-menu {
    width: 32px;
    height: 32px;
    background-image: url(../images/menu.png);
    cursor: pointer;
    display: none;
}

#text-auto-update {
    height: 25px;
    line-height: 25px;
    float: left;
    font-size: 0.8em;
    margin-right: 10px;
}

.message-box {
    color: #fff;
    margin-bottom: 5px;
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #737373;
    display: none;
}

.message-box-metadata {
    font-size: 0.8em;
    color: #8e8e8e;
}

.message-box-text {
    color: #fff;
}

.button-slider {
    width: 16px;
    height: 16px;
    background-color: #e2e2e2;
    border-radius: 50%;
    margin-top: -3px;
    margin-left: 0px;
    transition: margin-left 0.2s, background-color 0.2s;
}

.button-slider.activated {
    margin-left: 12px;
    background-color: #c3ff6f;
}

.button {
    opacity: 0.8;
    transition: opacity 0.1s
}

.button:hover {
    opacity: 1.0;
}

::-webkit-input-placeholder {
    color: #555;
}

::-moz-placeholder {
    color: #555;
}

:-ms-input-placeholder {
    color: #555;
}

#headline-controls {
    float: right;
}

#headline-text {
    float: left;
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding: 0;
    }
    #main-container {
        max-height: none;
    }
    #headline-controls {
        width: 100%;
        position: absolute;
        top: -80px;
        padding: 10px;
        left: 0;
        box-sizing: border-box;
        background-color: #355d7f;
        transition: top 0.2s;
    }
    #headline-controls.open {
        top: 50px;
    }
    #bt-update {
        position: fixed;
        top: 10px;
        right: 36px;
    }
    #bt-menu {
        position: fixed;
        top: 7px;
        right: 8px;
        display: block;
    }
    .button:hover {
        opacity: 0.8;
    }
    .button:active {
        opacity: 1.0;
    }
}

@media screen and (max-width: 400px) {
    #headline-controls {
        height: 80px;
    }
    #name-field {
        position: absolute;
        left: 10px;
        top: 45px;
    }
}
